@model DataAccessLayer.Entities.About

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Hakkımızda Silme Paneli</h3>
<hr />
<div>
 
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubDescription1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubDescription1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SubDescription2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SubDescription2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleDescription1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleDescription1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TitleDescription2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TitleDescription2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.About)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-dark" />
        <a class="btn btn-danger" asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
