@model DataAccessLayer.Entities.PollReport

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Anket Rapor Silme Paneli</h3>
<hr />
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WomenCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WomenCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WomenAvg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WomenAvg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManAvg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManAvg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PositiveCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PositiveCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NegativeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NegativeCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Noİdea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Noİdea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityDiplomad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniversityDiplomad)
        </dd>
         <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityNot)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UniversityNot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUser.About)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-dark" />
        <a class="btn btn-danger" asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
