@model DataAccessLayer.Entities.PollUser

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Kullanıcı Anket Sonuçları Silme Paneli</h3>
<hr />
<div>
  
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostMail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderMan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderMan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderWomen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderWomen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenderUncertain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenderUncertain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Positive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Positive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Negative)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Negative)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uncertain)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uncertain)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityDiplaed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityDiplaed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniversityNot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniversityNot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poll)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poll.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RowOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RowOrder)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Sil" class="btn btn-dark" />
        <a class="btn btn-danger" asp-action="Index">Listeye Geri Dön</a>
    </form>
</div>
